This is a test for the general file <%= @name %>

<p><button type="button">Click Me!</button>
	
	<FORM METHOD=post ACTION="/helloworld">
	<BR>Please insert a number <INPUT TYPE="text" NAME="list" ID ="1"
	</FORM>
	
<p><button type="button">Submit</button>