<h1><font color="red"> Ruby </font>On <font color="red">Rails</font> Tutorial </h1>

<i>Hello <%= @grades %></i>

<p><a href="http://www.google.com">Click here for Google</a>
<p><a href="http://api.rubyonrails.org/">Ruby On Rails API</a>

